<div class="l-wrapper">
  <div class="header">
	<div class="title">ユーザーを選択</div>
  </div>
  <div class="main">
	<% @friends.each_with_index do |friend, i| %>
	  <% if (i % 3) == 0 %>
		
		<div class="friends">
	  <% end %>
	  <div class="friend">
		<div class="inner">
		  <%= link_to image_tag(friend["profile_image_url"]) , "/friend/#{friend['screen_name']}"%>
		</div>
	  </div>
	  <% if (i % 3) == 2%>
		</div>
	  <% end %>
	  <% if (i % 3) != 2 && @friends.length == i+1%>
         </div>
	  <% end %>
	<% end %>
  </div>
</div>
